<h1>Welcome! <%=  current_client.name %></h1>



<table class="table">
  <thead>
    <tr>
      <th scope="col">numero</th>
      <th scope="col">consumo</th>
      <th scope="col">balance</th>
      
    </tr>
  </thead>
  <tbody>
  
  <% current_client.simcards.each do |simcard|%>
    <tr>
      
      <td><%= simcard.number %></td>

      

     
       
        
    </tr>
    <% end %>
  </tbody>
</table>

<button type="button" class="btn btn-light"><%= link_to "log out", destroy_client_session_path, method: :delete %></button>

<button type="button" class="btn btn-light"><%= link_to "paypal test", order_path %></button>

<button type="button" class="btn btn-light"><%= @mail %></button>
 
